* {
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
}
.header {
	background-color: #0050b3;
	padding: 6px 0 6px 0;
}
.header-block {
	max-width: 1200px;
	margin: auto;
	/*border: 1px solid yellow;*/
}
.search-input {
    font-size: 14px;
    line-height: 22px;
	padding: 5px 30px 5px 12px;
	width: 100%;
	max-width: 336px;
	background: #fff;
	border: 1px solid #d9d9d9;
	box-sizing: border-box;
	border-radius: 4px;
	background-image: url(../img/icon/search-icon.svg);
	background-repeat: no-repeat;
	background-position: right 12px center;
}
